<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header border-bottom">
            <button class="accordion-button fw-medium collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Are there any restrictions on the trial offer?
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Nunc et sollicitudin libero. Etiam eget sollicitudin eros. In non mauris feugiat, gravida dolor ac, gravida diam. Suspendisse elementum hendrerit massa, in molestie tortor pretium vel. Donec sed finibus libero. Cras at diam quis lacus interdum pellentesque. Aenean at luctus est. Phasellus facilisis neque luctus nibh venenatis, eu viverra odio interdum. Morbi aliquam mi in ultrices gravida. Nunc quis sodales mauris.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header border-bottom">
            <button class="accordion-button fw-medium collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                What are the cancellation terms?
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Donec cursus consequat nulla, a imperdiet eros pulvinar nec. Aenean iaculis massa vel aliquet iaculis. Vivamus orci metus, dignissim sed elit ac, euismod consectetur dui. Mauris at enim magna. Suspendisse ut urna vitae odio malesuada tempor vitae egestas ex.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header border-bottom">
            <button class="accordion-button fw-medium collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                What payment methods does Sigma accept?
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Sed a tortor suscipit urna efficitur fringilla. Integer aliquam erat ut eros egestas, eu laoreet elit pellentesque. Nunc at urna vel ligula blandit placerat.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header border-bottom">
            <button class="accordion-button fw-medium collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Can I upgrade after signing up?
            </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Maecenas vitae metus urna. Morbi mattis, nulla at tempus viverra, urna eros tincidunt risus, porttitor sollicitudin leo ligula ut felis. Integer pharetra, dui nec tincidunt posuere, quam est efficitur nisl, non porta justo diam molestie sem.
            </div>
        </div>
      </div>
  </div>