<ul class="nav d-flex justify-content-center" id="myTab" role="tablist">
    <!-- Europe Nav Link -->
    <li class="nav-item" role="presentation">
        <a href="#" class="nav-link active" id="europe-tab" data-bs-toggle="tab" data-bs-target="#europe-tab-pane" type="button" role="button" aria-controls="europe-tab-pane" aria-selected="true">Europe</a>
    </li>
    <!-- /Europe Nav Link -->

    <!-- America Nav Link -->
    <li class="nav-item" role="presentation">
        <a href="#" class="nav-link" id="america-tab" data-bs-toggle="tab" data-bs-target="#america-tab-pane" type="button" role="button" aria-controls="america-tab-pane" aria-selected="false">America</a>
    </li>
    <!-- /America Nav Link -->

    <!-- Asia Nav Link -->
    <li class="nav-item" role="presentation">
        <a href="#" class="nav-link" id="asia-tab" data-bs-toggle="tab" data-bs-target="#asia-tab-pane" type="button" role="button" aria-controls="asia-tab-pane" aria-selected="false">Asia</a>
    </li>
    <!-- /Asia Nav Link -->
</ul>
<div class="tab-content" id="myTabContent">
    <!-- Europe Tab Content -->
    <div class="tab-pane fade show active" id="europe-tab-pane" role="tabpanel" aria-labelledby="europe-tab" tabindex="0">

    </div>
    <!-- /Europe Tab Content -->

    <!-- America Tab Content -->
    <div class="tab-pane fade" id="america-tab-pane" role="tabpanel" aria-labelledby="america-tab" tabindex="0">

    </div>
    <!-- /America Tab Content -->

    <!-- Asia Tab Content -->
    <div class="tab-pane fade" id="asia-tab-pane" role="tabpanel" aria-labelledby="asia-tab" tabindex="0">
        
    </div>
    <!-- /Asia Tab Content -->
</div>